/* This CSS is common to all pages */

@font-face {
  font-family: 'Comfortaa';   /*Can be any text*/
  src: url('../fonts/Comfortaa-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-display: swap;
}

/*vars*/
:root {
  --max-width: 1100px;
  --border-radius: 1rem;
  --global-padding-half: 0.5rem;
  --global-padding: 1rem;
  --global-padding-double: 2rem;
  --global-border-width: 2px;
  --global-border-width-double: 4px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --color-primary: #051974;
  --color-primary-light: #08259F;
  --color-primary-bright: #3c71ff;
  --color-secondary: #000717;
  --color-text: #d8ccd8;
  --color-white: #FFEDFF;
  --color-snow-white: #ffffff;
}

/*Reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-variation-settings: "wght" 400;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
}

img{
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0.8em;
  color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  letter-spacing: 0.01em;
  word-spacing: 0.1em;
  line-height: 1.4em;
  &:not(:last-child){
    margin-bottom: 1em;
  }
  a {
    text-decoration: wavy underline var(--color-primary-bright);
  }
  .marked{
    color: var(--color-white);
  }
}

figure{
  margin-bottom: 1.3rem;
  figcaption{
    margin-bottom: var(--global-padding);
    letter-spacing: 0.05em;
    color: var(--color-primary-bright);
  }
}

/*Helper styles*/
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/*Styles*/
.layout-container {
  min-height: 100vh;
  background: var(--color-secondary) radial-gradient(circle at center, var(--color-primary) 0, var(--color-secondary) 80%);
  display: flex;
  flex-flow: column nowrap;
  .header {
      padding: var(--global-padding) 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .blog-header svg{
        color: var(--color-primary-bright);
        width: 69.6px;
        height: 57.0px;
        @media screen and (min-width: 800px) and (orientation: portrait),
        screen and (min-height: 800px) and (orientation: landscape) {
          width: 94.5px;
          height: 77.4px;
        }
      }
  }
  .footer {
      font-size: 0.9em;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      color: var(--color-primary-bright);
  }
  .main {
    flex: 1;
    flex-flow: row nowrap;
    display: flex;
    align-items: stretch;
    .content-container, .article-cantainer{
      flex: 1 1 auto;
      margin: 0 auto;
      padding: 0 var(--global-padding);
    }
    .content-container{
      max-width: 75rem;
      &.small {
        max-width: 55rem;
      }
    }
    .article-cantainer{
      max-width: 43rem;
    }
  }
}

.card{
  // max-width: 40rem;
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius);
  padding: calc(var(--global-padding) + 0.5rem);
  margin-bottom: var(--global-padding-double);
  position: relative;
  &.with-heading {
    margin-top: var(--global-padding);
    margin-bottom: calc(var(--global-padding-double)*1.5);
    padding-top: calc(var(--global-padding-double)*1.4);
  }
  .card-heading{
    display: inline-block;
    padding: var(--global-padding-half) var(--global-padding);
    border-radius: 2em;
    background-color: var(--color-primary-bright);
    color: var(--color-primary-light);
    box-shadow: 0 0 30px rgba(3, 38, 150, 0.5) inset, -1.5px 1.5px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -1.362rem;
    left: calc(var(--global-padding)*1.5);
  }
    .subheading{
      font-size: 0.9em;
      span{
        display: block;
      }
    }
}

.about-card{
  max-width: 40rem;
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius);
  padding: calc(var(--global-padding) + 0.5rem);
  text-align: center;
  .image-wrapper{
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-bottom: var(--global-padding-double);
  }
  .description{
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: var(--global-padding);
  }
  .socials-warpper{
    display: flex;
    justify-content: center;
    .socials {
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 380px;
      .social {
        margin: var(--global-padding) var(--global-padding-half) 0;
        .social-link {
          width: 60px;
          height: 60px;
          svg {
            width: 26px;
          }
        }
      }
    }
  }
}

.button-shape {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: var(--global-border-width-double) solid var(--color-primary-bright);
  background-color: var(--color-primary-bright);
  color: var(--color-primary-light);
  box-shadow: 0 0 30px rgba(3, 38, 150, 0.5) inset, -1.5px 1.5px 5px rgba(0, 0, 0, 0.2);
  &:hover,
  &:focus {
    box-shadow: 0 0 30px rgba(3, 38, 150, 0.5) inset, -1.5px 1.5px 20px rgba(0, 0, 0, 0.4);
    color: var(--color-primary);
  }
}

.button{
  padding: var(--global-padding-half) var(--global-padding);
  font-size: 1.1em;
}

.certification-link-wrapper{
  display: flex;
  justify-content: end;
}

.certification-link{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-light);
  border-bottom: 1px dashed var(--color-primary);
}

.blog-post-list{
  display: flex;
  flex-flow: row wrap;
  .blog-list-item{
    width: 100%;
    margin: 0 0 1rem;
  }
}

.blog-list-item{
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  overflow: hidden;
  .item-content-wrapper{
    padding: var(--global-padding);
  }
  h3{
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.4em;
    font-variation-settings: "wght" 700;
    line-height: 1.4;
    letter-spacing: 0.04em;
    margin-bottom: var(--global-padding-half);
  }
  .published-at{
    color:#707070;
    font-size: 0.9em;
    margin-bottom: var(--global-padding-half);
  }
  .preview-text{
    color: var(--color-secondary);
    line-height: 1.5;
    font-size: 1.1em;
  }
}

.article-cantainer{
  .article-image-wrapper{
    margin-bottom: 3rem;
    position: relative;
    img{
      overflow: hidden;
      border-radius: var(--border-radius);
      position: relative;
    }
    .article-publishing-date{
      position: absolute;
      background-color: var(--color-snow-white);;
      color: #8b8b8b;
      border-radius: 0.15rem;
      width: 6rem;
      height: 2rem;
      transform: rotate(-90deg);
      right: -2.6rem;
      top: 50%;
      margin-top: -1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
      &>*{
        font-size: 0.9em;
      }
    }
  }
  p {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 1.3rem;
    a {
      text-decoration: underline;
    }
    code {
      padding: 0.125rem 0.3125rem 0.0625rem;
      border: 1px solid #cacaca;
      background-color: #e6e6e6;
      font-family: Consolas,"Liberation Mono",Courier,monospace;
      font-weight: 400;
      color: #2a2e31;
    }
  }
  h1, h2, h3, h4 {
    color: var(--color-primary-bright);
    letter-spacing: 0.02em;
  }
  h1 {
    font-size: 1.7em;
    line-height: 1.3;
  }
  h3 {
    font-size: 1.4em;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .back-to-list{
    padding: 0.7rem;
    background-color: var(--color-primary-bright);
    color:var(--color-snow-white);;
    border-radius: var(--border-radius);
    margin-bottom: var(--global-padding-double);
    margin-top: var(--global-padding-double);
    border: var(--global-border-width-double) solid var(--color-primary-bright);
    &:hover, &:focus{
      box-shadow: 0 0 30px rgba(3, 38, 150, 0.5) inset;
    }
  }
}

.card-block:not(:last-child){
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--color-primary);
}

.image-block{
  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-width: 8rem;
    }
  }
}

.certifications-grid{
  display: flex;
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    min-width: 0px;
    justify-content: center;
.certification {
    min-width: 0px;
    width: 100%;
    background-color: var(--color-snow-white);
    margin-top: 20px;
    overflow: hidden;
    border-radius: 0.5rem;
    &:first-child {
      margin-top: 0;
    }
    .certification-data{
      margin: 0 10px 10px;
      padding-top: 10px;
      border-top: 2px solid var(--color-primary-light);
      .certification-heading{
        color: var(--color-primary);
        margin-bottom: 0.5rem;
      }
      .certification-subheading{
        color: var(--color-primary);
        span{
          display: block;
          margin-bottom: 0.2em;
        }
      }
    }
  }
}



@media screen and (max-width: 449px) {
  .image-block{
    text-align: center;
    .image-wrapper{
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (min-width: 450px) {
  .about-card{
    padding: calc(var(--global-padding-double) + 0.5rem);
    .description{
      font-size: 1.5em;
    }
  }
  .article-cantainer{
    .article-image-wrapper{
      .article-publishing-date{
        margin-top: -2.5rem;
      }
    }
  }

  .image-block{
    display: flex;
    align-items: center;
    .image-wrapper{
      margin-right: 1rem;
    }
  }
}

@media screen and (min-width: 680px) {
  .certifications-grid {
      .certification {
        width: calc(50% - 10px);
        &:nth-child(even) {
          margin-left: 10px;
        }
        &:nth-child(odd) {
          margin-right: 10px;
        }
        &:nth-child(-n+2) {
          margin-top: 0;
        }
      }
    }

  .blog-post-list{
    .blog-list-item{
      width: calc(50% - 2rem);
      margin: 1rem;
    }
  }
  .article-cantainer{
    .article-image-wrapper{
      .article-publishing-date{
        margin-top: -3.5rem;
      }
    }
    h1 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.6em;
    }
  }
}

.error-block{
  text-align: center;
}